<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModeloDatos" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=LaraverTools.Modelo.ModeloDatos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>